* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 10vw;
  background: linear-gradient(55deg, rgba(114, 221, 216, 0.864), rgb(141, 230, 124));
  overflow: auto;
}

.new-task-container {
  width:49%;
  background: white;
  border-radius: 10px;
  text-align: center;
  margin-top:50px;
  margin-left: 15px;
  overflow: auto;
}

.new-task-container h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: rgb(14, 122, 158);
}

.new-task-container form {
  margin: 0 1em 1em 1em;
  padding: 0.6em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(225, 225, 225, 0.864);
  border-radius: 20px;
  position: relative;
}

.new-task-container form [type="text"] { 
  outline: none;
  flex: 1;
  font-size: 1.3rem;
  border-radius: 10px;
  background: transparent;
  border: 0;
}

.new-task-container form button { 
  border-radius: 20px;
  background: rgba(50, 234, 167, 0.864);
  border: 0;
  padding: 0.65em 2em;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  margin: -0.3em;
  position: absolute;
  right: 5px;
}

.tasks {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin: 10px 15px;
}

.tasks div {
  background: white;
  color: rgb(14, 122, 158);
  width: 19.25%;
  min-height: 10vw;
  border-radius: 10px;
}

.tasks div h2 {
  text-align: center;
  padding-top: 0.5em;
}

.droppable-list {
  min-width: 175px;
  min-height: 150px;
}

.droppable-list li{
  list-style: none;
  padding: 1em;
  padding-left: 2.3em;
  cursor: pointer;
  position: relative;
}

.droppable-list li.checked{
  color: #555;
  text-decoration: line-through;
}

.droppable-list li::before{
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url(images/radio_button.png);
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 8px;
  
}
.droppable-list li.checked::before{
  background-image: url(images/radio_button_check.png);
}

.droppable-list li.checked:hover::before{
  background-image: url(images/radio_button_check.png);
}

.droppable-list li:hover::before {
  background-image: url(images/radio_button_hover.png);
}

.droppable-list li span{
  position: absolute;
  right: 5px;
  top: 10px;
  width: 30px;
  height: 30px;
  font-size: 1.4rem;
  color: #555;
  line-height: 30px;
  text-align: center;
}
.droppable-list li span:hover{
  background: rgba(225, 225, 225, 0.864);
  border-radius: 50%;
}

